<%- include('includes/header') %>
  <!-- header included end -->
  <%- include('includes/flash')%>

<style>
  .flexContainer-searchBar {
  display: flex;
  flex-wrap: wrap;
  flex:2;
  }

  .flex-collum {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


</style>


    <body>
        <div class="overlay2">

          <main>
            <article class="flexContainer">
              <div>
                <img class="menu_icon item" src="./images/menu_icon.png">
              </div>
              <div class="title">
                <h1 class="title">Community</h1>
              </div>
            </article>


            <div id="container" class="dash-container">

              <% if (posts.length) { %>

                <article >
                  <div class="flexContainer-searchBar">
                    <a id="addPost" class="btn btn-success mr-2" href="/create-post">+
                    </a>
                    <p id="search" class="text-center mb-4"><i class="fas fa-search"></i> 
                      <!-- <label for="live-search-field"><i class="fas fa-search"></i></label> -->
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <input type="text" id="live-search-field" class="live-search-field" placeholder="Search Topic Person or Post">
                      <a id="search-small" href="#" class="text-white mr-2 header-search-icon" title="Search"
                        data-toggle="tooltip" data-placement="bottom"></a>
                    </p>
                  </div>

                    <div class="flex-collum">
                      <div class="">
                        <div class="container container--narrow">   
                        </div>
                      </div>
                  
                      <div class="search-overlay-bottom">
                        <div class="container container--narrow py-3">
                          <div class="circle-loader"></div>
                          <div class="live-search-results"></div>
                        </div>
                      </div>
                    </div>
              

                </article>


                <div id="post_container" class="list-group">
                  <% posts.forEach(function(post) { %>
                    <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">

                      <p id="post" style="font-weight: 100;">
                        <article class="flexContainer">
                          <div>
                            <img class="avatar-tiny" src="<%= post.author.avatar %>">
                          </div>

                          <div id="post_header">
                            <div id="post_username">
                              <%= post.author.username %>
                            </div>
                            <div id="post_date">
                              <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%=
                                    post.createdDate.getFullYear() %>

                            </div>
                        </article>

                        <div id="post_body">
                          <div id="post_title">
                            <%= post.title %>
                          </div>

                          <div id="post_content">
                            <%= post.body %>
                          </div>
                        </div>
                      </p>

                    </a>
                    <% }) %>
                </div>

                <% } else { %>
                  <div class="text-center">
                    <!-- EJS template -->
                    <h2>Hello <strong>
                        <%= user.username %>
                      </strong>, your feed is empty.</h2>
                    <p class="lead text-muted">Your feed displays the latest posts from the people you follow. If you
                      don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo;
                      feature
                      in the top menu bar to find content written by people with similar interests and then follow them.
                    </p>
                  </div>
                  <% } %>


            </div>




          </main>
      </div>
    </body>

    <!-- footer begins -->
    <%- include('includes/footer') %>
