<%- include('includes/header') %>
  <!-- header included end -->
  <%- include('includes/flash')%>

    <style>
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        /* height: 2.75rem; */
        overflow-y: hidden;
      }

      .bg-transparent {
        background-color: transparent;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        /* padding-bottom: 1rem; */
        /* margin-top: -1px; */
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

      }

      #offcanvasEx {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #ceedc2;
      }

      #nav--header {
        margin-right: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      .offcanvas .offcanvas-start {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
      }

      .offcanvas-body div li {
        list-style-type: none;
        text-align: left;

        text-decoration: none;
      }

      .offcanvas-body div li a {
        /* color: black; */
        text-decoration: none;
      }

      #settings {
        text-align: left;
      }

      #settingsButton {
        padding: 0;
        margin: 0;
      }

      .overlay4 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0.5;
      }

      .red {
        background-color: rgba(255, 0, 0, 0.5);
      }

      .yellow {
        background-color: rgba(255, 255, 0, 0.5);
      }

      .blue {
        background-color: rgba(0, 0, 255, 0.5);
      }

      .back-btn {
			position: fixed;
			top: 10px;
			right: 10px;
			padding: 5px 10px;
			background-color: #ddd;
			border: none;
			border-radius: 5px;
			font-size: 16px;
      z-index: 15;
			cursor: pointer;}

      .menu_bar_headings li a{
        font-size: 25px;
        color: #3a4536;
      }

      .menu_bar_headings li a:hover{
        color: orange;
      }

      .fw-bold{
        font-size: 38px;
        color: #3a4536;
      }

      .dropDownMenuButton{
        font-size: 25px;
      }

       #dropdownMenuButton {
        font-size: 25px;
      }
    </style>

    <section class="gridcontainer">

      <!-- menu bar -->
      <!--       
      <div>
        <a href="/">
          <img class="logo" src="images2/logo.png" alt="Floc logo">
        </a>
        <img class="menu_icon_home" src="/images/menu_icon.png">
      </div> -->

      <nav style="z-index: 0;" class="autohide navbar navbar-expand-md fixed-top bg-transparent">
        <div id="nav--header" style="display:flex; flex-direction: column; padding: 0; margin-left: 0; left:0; ">
          <a href="/">
            <img class="logo" src="images2/logo.png" alt="Floc logo" style="
          margin-right: 0px;
          margin-left: 18px;
          margin-bottom: 0px;
          margin-top: 0px;">
          </a>
          <div class="container-fluid" id="nav--header">
            <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasEx" role="button"
              aria-controls="offcanvasExample" style="padding: 0; margin: 0;">
              <img class="menu_icon_home" src="/images/menu_icon.png" style="padding: 25px 0; margin: 0;">
              <!-- <i class="fas fa-bars" style="color: gray;" ></i> -->
              <!-- <span class="navbar-toggler-icon"></span> -->
            </a>
          </div>

      </nav>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasEx" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <img src="images2/logo.png" alt="FLOC Logo" class="logo offcanvas-title rounded-circle gap-0 mx-0"
            id="offcanvasExampleLabel">
          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">National Museums Scotland</h5> -->
          <h6 class="fw-bold">
            FLOC
          </h6>
          <button id="settingsButton" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="menu_bar_headings">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/profile/<%= user.username %>">Profile</a></li>
            <li><a href="/calendar.html">Calandar</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/attraction.html">Attractions</a></li>
            <!-- <li><a href="/settings.html">Settings</a></li> -->

            <div id="settings" class="dropdown mt-3">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                style="border: 0;">
                Accessibility Settings
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" onclick="showOverlay('red')">Red Overlay</a></li>
                <li><a class="dropdown-item" href="#" onclick="showOverlay('yellow')">Yellow Overlay</a></li>
                <li><a class="dropdown-item" href="#" onclick="showOverlay('blue')">Blue Overlay</a></li>
              </ul>
            </div>
            <button class="back-btn" onclick="hideOverlay()">Back</button>

            <script>
              function showOverlay(color) {
                var overlay4 = document.createElement('div');
                overlay4.classList.add('overlay4', color);
                document.body.appendChild(overlay4);
              }

              function hideOverlay() {
                if (overlay) {
                  document.body.removeChild(overlay);
                  overlay = null;
                }
              }

            </script>


          </div>
        </div>
      </div>
      <!-- menu bar -->

      <div class="profile_widget item1">
        <a id="link" href="profile.ejs">

          <div class="profile--widget">
            <a href="/profile/<%= user.username %>" class="mr-2">
              <img class="avatar-large" title="<%= user.username %>" data-toggle="tooltip" data-placement="bottom"
                style=" border-radius: 50px;" src="<%= user.avatar %>"></a>

            <div class="flex--box d-flex justify-content-center">
              <a href="/profile/<%= user.username %>" id="name" class="mr-2 text-center"
                style="z-index: 10; font-size: 1.4rem; text-decoration: none; color: black;">
                <%= user.username %>
              </a>
              <!-- <span class="header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-comment" style="font-size: .9rem; color: black;"></i></span>   -->
            </div>
            <div class="profile--widget--bottom">
              <!-- Gravatar API SRC= -->
              <a class="btn btn-success mr-2"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                href="/create-post">Create Post</a>
              <!-- Session logout ACTION=/LOGOUT -->
              <form action="/logout" method="POST" class="d-inline">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-secondary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Sign
                  Out</button>
              </form>
            </div>

          </div>
        </a>
      </div>

      <div id="map" class="maps_widget item2"></div>

      <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwaZh4LZ9pza24U9ewbCdiLvIh27etaCI&callback=initMap">
        </script>

      <div class="weather_widget item3">

        <!-- <div class="app-title"> -->
        <div class="location">
          <p>-</p>
        </div>
        <!-- </div> -->
        <div class="notification"> </div>
        <div class="weather-container">
          <div class="weather-icon">
            <img src="weather/icons/unknown.png" alt="">
          </div>
          <div class="temperature-value">
            <p>- °<span>C</span></p>
          </div>
          <div class="temperature-description">
            <p> - </p>
          </div>
        </div>


      </div>

      <script defer src="weather/app.js"></script>




      <div class="calendar_widget item4">
        <a id="link" href="/calendar.html">
          <div class="dateTime"></div>

          <!-- Insert Date here -->
          <script async src="/calendar/timeDate.js"></script>

        </a>
      </div>
      <!-- Insert Calendar Widget Script here -->
      <!-- <script src="/caledar/script2.js"></script> -->

      <div class="emercency_services_widget item5">

        <p id="location">Current Location</p>


        <!-- Insert Emercency Services  Widget here -->

        <article class="locationContainr">




          <article class="flexContainerLocation">

            <div id="1" class="houseNumber"></div>

            <div id="2" class="street"></div>

            <div id="3" class="district"></div>



          </article>




          <article class="flexContainerLocation">




            <div id="4" class="suburb"></div>

            <div id="5" class="city"></div>

            <div id="6" class="state"></div>

            <div id="7" class="postcode"></div>


          </article>


        </article>


        <!-- Insert Location Widget here -->
        <script async src="/location/location.js"></script>

      </div>

      <div class="forum_widget item6">
        <%- include('./forum') %>
      </div>
      <div class="attractions_widget item7">
        <a id="link" href="/attraction.html">
          Attractions
          <!-- Insert Attractions Widget here -->
          <div class="attractions">
            <div class="attraction1">
              <p></p>
            </div>
            <div class="attraction2">
              <p></p>
            </div>
            <div class="attraction3">
              <p></p>
            </div>
            <div class="attraction4">
              <p></p>
            </div>
            <div class="attraction5">
              <p></p>
            </div>
          </div>
        </a>
      </div>
      <!-- Insert Attractions Widget Script here -->
      <script async src="/attractions/dashboardAttractions.js"></script>
    </section>


    <!-- footer begins -->
    <%- include('includes/footer') %>