<%- include('includes/header') %>
  <!-- header ends here -->
  <div class="overlay">

    <article class="flexContainer">
      <div>
        <img class="menu_icon item" src="/images/menu_icon.png">

      </div>
      <div class="title">
        <h1 class="title">Community</h1>
      </div>
    </article>


    <div id="individual_post_container" class="container py-md-5 container--narrow">

      <%- include('includes/flash') %>


        <h2 id="individual_post_title">
          <%= post.title %>
        </h2>

        <div id="individual_post_body" class="body-content">
          <%- filterUserHTML(post.body) %>


            <% if (post.isVisitorOwner) { %>
              <span class="pt-2">
                <a href="/post/<%= post._id%>/edit" class="text-primary mr-2" data-toggle="tooltip" data-placement="top"
                  title="Edit"><i class="fas fa-edit"></i></a>
                <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top"
                    title="Delete"><i class="fas fa-trash"></i></button>
                </form>
              </span>
              <% } %>

                <p class="text-muted small mb-4">
                  <a href="/profile/<%= post.author.username %>"><img class="avatar-tiny"
                      src="<%= post.author.avatar %>"></a>
                  Posted by <a href="/profile/<%= post.author.username %>">
                    <%= post.author.username %>
                  </a> on <%= post.createdDate.getMonth()+1 %>/<%= post.createdDate.getDate() %>/<%=
                        post.createdDate.getFullYear() %>
                </p>
        </div>

    </div>
  </div>